<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Rate Music</title>
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        body {
            background-color: maroon;
            margin: 0 10%;
            font-family: sans-serif;
        }
        .upload-box {
            border: 2px dashed #ccc;
            border-radius: 20px;
            width: 100%;
            height: 100px;
            text-align: center;
            line-height: 100px;
            font-size: 16px;
            color: #ccc;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .upload-box.dragover {
            border-color: #333;
            color: #333;
        }
        .approach-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background-color: #ccc;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .approach-button.selected {
            background-color: #333;
            color: #fff;
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">
                <a href="#">Heart Rate Music</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user_guide">User Guide</a></li>
            </ul>
        </div>
    </nav>
    
    <div id="div1">
        <div class="arrow-container">    
            <img src="{{ url_for('static', filename='images/Logo.png') }}" height="200" alt="Heart Rate Monitor">
            <div class="arrow arrow-up"></div>
            <div class="arrow arrow-down"></div>
            <p>Target Heart Rate</p>
            <input type="number" id="targetHR" placeholder="Enter target heart rate" value="80">
            <div class="upload-box" id="uploadBox">
                Drag and drop MP3 files here or click to upload
                <input type="file" id="fileInput" accept=".mp3" style="display: none;">
            </div>
            <button class="start-button" onclick="startMonitoring()">Start</button>

            <div id="audioPlayer" style="display:none">
                <button id="playPauseBtn" class="btn btn-info" onClick="playPause()">Play/Pause Song</button>
                <button id="skipBtn" class="btn btn-warning" onClick="skipSong()">Skip Song</button>
                <audio id="audio" src="" controls></audio>
                <span href="#pod1" onclick="skipAudio('pod1', '90')" class="skip-btn">>></span>
            </div>
        </div>
    </div>
    
    <div id="div2">
        <div class="accordion jumbotron text-center">Click to see our Advanced Features</div>
        <div class="panel">
            <p>This is the approach path selections</p>
            <button class="approach-button" id="random" onclick="selectApproachPath('random')">RANDOM</button>
            <button class="approach-button selected" id="SHALLOW" onclick="selectApproachPath('SHALLOW')">SHALLOW</button>
            <button class="approach-button" id="LINEAR" onclick="selectApproachPath('LINEAR')">LINEAR</button>
            <button class="approach-button" id="STEEP" onclick="selectApproachPath('STEEP')">STEEP</button>
            <button class="approach-button" id="Parabola" onclick="selectApproachPath('Parabola')">Parabola</button>
            <button class="approach-button" id="Rollercoaster" onclick="selectApproachPath('Rollercoaster')">Rollercoaster</button>

            
            <div class="arrow arrow-up" id="restingHR-up"></div>
            <div class="arrow arrow-down" id="restingHR-down"></div>
            <label for="restingHR">Resting Heart Rate:</label>
            <input type="number" id="restingHR" placeholder="Enter resting heart rate" value='60'>
            <button id="startRestingHR" class="btn btn-primary">Press to get resting heart rate</button>
            <p id="restingHRResult"></p>
        </div>
    </div>

    <div id="approachPathResult"></div>

    <script>
        var selectedApproachPath = 'SHALLOW';

        function selectApproachPath(path) {
            selectedApproachPath = path;
            document.querySelectorAll('.approach-button').forEach(button => {
                button.classList.remove('selected');
            });
            document.getElementById(path).classList.add('selected');

            // Show approach path message
            $.ajax({
                url: "/get_approach_path_message",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    approachPath: selectedApproachPath
                }),
                success: function(data) {
                    $("#approachPathResult").html(`<p>${data.message}</p>`);
                },
                error: function(error) {
                    $("#approachPathResult").text("Error getting approach path message.");
                }
            });
        }

        function startMonitoring() {
            var targetHR = $("#targetHR").val();
            var restingHR = $("#restingHR").val();

            console.log("Start Monitoring: Target HR =", targetHR, "Resting HR =", restingHR, "Approach Path =", selectedApproachPath);

            if (!targetHR) {
                alert("Please enter a target heart rate.");
                return;
            }

            if (!restingHR) {
                alert("Please enter a resting heart rate.");
                return;
            }

            $.ajax({
                url: "/start",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    targetHR: targetHR,
                    restingHR: restingHR,
                    approachPath: selectedApproachPath
                }),
                success: function(data) {
                    console.log(data);
                    let output = '';
                    for (let path in data) {
                        output += `<p>${data[path].message}: ${data[path].selected_music}</p>`;
                    }
                    $("#musicResult").html(output);
                },
                error: function(error) {
                    $("#musicResult").text("Error getting music recommendation.");
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            var acc = document.querySelectorAll(".accordion");

            acc.forEach(function(accordion) {
                accordion.addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            });

            var uploadBox = document.getElementById('uploadBox');
            var fileInput = document.getElementById('fileInput');

            uploadBox.addEventListener('dragover', function(e) {
                e.preventDefault();
                uploadBox.classList.add('dragover');
            });

            uploadBox.addEventListener('dragleave', function(e) {
                uploadBox.classList.remove('dragover');
            });

            uploadBox.addEventListener('drop', function(e) {
                e.preventDefault();
                uploadBox.classList.remove('dragover');
                var files = e.dataTransfer.files;
                handleFiles(files);
            });

            uploadBox.addEventListener('click', function(e) {
                fileInput.click();
            });

            fileInput.addEventListener('change', function(e) {
                var files = fileInput.files;
                handleFiles(files);
            });

            function handleFiles(files) {
                for (var i = 0; i < files.length; i++) {
                    if (files[i].type !== 'audio/mpeg') {
                        alert('Only MP3 files are allowed!');
                        return;
                    }
                    uploadFile(files[i]);
                }
            }

            function uploadFile(file) {
                var formData = new FormData();
                formData.append('file', file);

                $.ajax({
                    url: '/upload',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        alert('File uploaded successfully!');
                    },
                    error: function(error) {
                        alert('Error uploading file');
                    }
                });
            }
        

            $("#startRestingHR").click(function(){
                $.ajax({
                    url: "/start_resting_hr_monitor",
                    method: "GET",
                    success: function(data){
                        $("#restingHRResult").text("Resting Heart Rate: " + data.hr);
                        $("#restingHR").val(data.hr);  
                    },
                    error: function(error){
                        $("#restingHRResult").text("Error for resting heart rate data.");
                    }
                });
            });

            $("#startCurrentHR").click(function(){
                $.ajax({
                    url: "/start_current_hr_monitor",
                    method: "GET",
                    success: function(data){
                        $("#currentHRResult").text("Current Heart Rate: " + data.hr);
                        $("#currentHR").val(data.hr);  // Auto fill in the currentHR input
                    },
                    error: function(error){
                        $("#currentHRResult").text("Error for current heart rate data.");
                    }
                });
            });

            $("#getMusic").click(function(){
                var targetHR = $("#targetHR").val();
                var currentHR = $("#currentHR").val();
                var restingHR = $("#restingHR").val();

                if (targetHR && currentHR && restingHR) {
                    $.ajax({
                        url: "/get_music",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            targetHR: targetHR,
                            heartRate: currentHR,
                            restingHR: restingHR
                        }),
                        success: function(data){
                            if(data.selected_music) {
                                $("#musicResult").text("Selected Music: " + data.selected_music);
                                $("#audioPlayer").show();
                                $("#audio").attr("src", data.selected_music);
                            } else {
                                $("#musicResult").text("No suitable music found.");
                            }
                        },
                        error: function(error){
                            $("#musicResult").text("Error getting music recommendation.");
                        }
                    });
                } else {
                    $("#musicResult").text("Please enter all heart rate values.");
                }
            });
        });

        var isPlaying = false;
        function playPause() {
            var audio = document.getElementById("audio");
            if (isPlaying) {
                audio.pause();
            } else {
                audio.play();
            }
            isPlaying = !isPlaying;
        }

        function skipSong() {
            if (recommendedSongs.length > 0) {
                currentSongIndex = (currentSongIndex + 1) % recommendedSongs.length;
                loadSong(currentSongIndex);
                playSong();
            } else {
                $("#musicResult").text("No more songs to play.");
            }
        }

        function loadSong(index) {
            const audio = document.getElementById('audio');
            audio.src = recommendedSongs[index];
        }

        function playSong() {
            const audio = document.getElementById('audio');
            audio.play();
            isPlaying = true;
        }

        const targetHRInput = document.getElementById('targetHR');
        const arrowUp = document.querySelector('.arrow-up');
        const arrowDown = document.querySelector('.arrow-down');
        const restingHRInput = document.getElementById('restingHR');
        const restingHRUp = document.getElementById('restingHR-up');
        const restingHRDown = document.getElementById('restingHR-down');

        arrowUp.addEventListener('click', () => {
            targetHRInput.value = parseInt(targetHRInput.value) + 10;
            let value = parseInt(targetHRInput.value);
            if (value < 40) {
                targetHRInput.value = 40;
            } else if (value > 150) {
                targetHRInput.value = 150;
            }
        });

        arrowDown.addEventListener('click', () => {
            targetHRInput.value = parseInt(targetHRInput.value) - 10;
            let value = parseInt(targetHRInput.value);
            if (value < 40) {
                targetHRInput.value = 40;
            } else if (value > 150) {
                targetHRInput.value = 150;
            }
        });
        restingHRUp.addEventListener('click', () => {
            restingHRInput.value = parseInt(restingHRInput.value) + 10;
            let value = parseInt(restingHRInput.value);
            if (value < 50) {
                restingHRInput.value = 50;
            } else if (value > 150) {
                restingHRInput.value = 150;
            }
        });

        restingHRDown.addEventListener('click', () => {
            restingHRInput.value = parseInt(restingHRInput.value) - 10;
            let value = parseInt(restingHRInput.value);
            if (value < 50) {
                restingHRInput.value = 50;
            } else if (value > 150) {
                restingHRInput.value = 150;
            }
        });

        targetHRInput.addEventListener('input', () => {
            let value = parseInt(targetHRInput.value);
            if (value < 40) {
                targetHRInput.value = 40;
            } else if (value > 150) {
                targetHRInput.value = 150;
            }
        });
        restingHRInput.addEventListener('input', () => {
            let value = parseInt(restingHRInput.value);
            if (value < 50) {
                restingHRInput.value = 50;
            } else if (value > 150) {
                restingHRInput.value = 150;
            }
        });
    </script>
    <div id="musicResult"></div>
</body>
</html>





















