<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" IE="edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Rate Music</title>
    <!-- This is the title of the webpage that will appear when the app is loaded -->
    
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <style>
        body {
            background-color: maroon;
            margin: 0 10%;
            font-family: sans-serif;
        }
        .upload-box {
            border: 2px #ccc;
            border-radius: 20px;
            width: 100%;
            height: 100px;
            text-align: center;
            line-height: 100px;
            font-size: 16px;
            color: #ccc;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .upload-box.dragover {
            border-color: #333;
            color: #333;
        }
        .approach-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            background-color: #ccc;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .approach-button.selected {
            background-color: #333;
            color: #fff;
        }
        /* Additional styling for optimal song message */
        #optimalSongMessage {
            display: none;
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            padding: 10px;
            margin-top: 10px;
            margin-bottom: 20px;
            border-radius: 5px;
            text-align: center;
        }
    </style>
</head>
<body>
    <!-- This is the nav bar with the spacing and the links included to show different tabs -->
    <nav class="navbar">
        <div class="navdiv">
            <div class="logo">
                <a href="#">Heart Rate Music</a>
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user_guide">User Guide</a></li>
            </ul>
        </div>
    </nav>
    
    <!-- We divided the home page into div containers -->
    <!-- In the first container, we have the image of a heart and below the heart are arrows that will control the target heart rate value -->
    <div id="div1">
        <div class="arrow-container">
            <img src="{{ url_for('static', filename='images/Logo.png') }}" height="250" alt="Heart Rate Monitor" style="margin-top: 20px; margin-bottom: 20px;">
            
            <p style="font-size: 60px;">Target Heart Rate</p>
            <!-- This is the label for target heart rate -->
            <input type="number" id="targetHR" placeholder="Enter target heart rate" value="70" class="no-arrows">
            <p class="large-font">Use the arrows below to change the value for Target Heart Rate</p>

            <div class="arrow arrow-up"></div><div class="arrow arrow-down"></div>
            <!-- This is the target heart rate box that is set to 70; you change the default by changing the value -->
            <button class="start-button" onclick="startMonitoring()">Start</button>
            <!-- This is the start button which the user will press to start everything and get a music choice -->

            <!-- This is the audio player. The player is hidden since the display is set to none.
            When the song appears, it will have a pause and play button next to it -->
            <div id="audioPlayer" style="display:none;text-align: center;">
                <p id="songName" style="font-size: 20px; margin-bottom: 10px;">Song Name</p><!-- Song name will appear here -->
                <audio id="audio" src="" controls style="display: block; margin: 0 auto;"></audio>
                <button id="skipBtn" class="btn btn-warning" onClick="skipSong()" style="display: block; margin: 10px auto;">Skip Song</button>
                <!-- This is the skip button that allows the user to skip songs -->
            </div>
            <!-- Optimal song message -->
            <div id="optimalSongMessage">The same song is playing, since it's the most optimal song for your target HR.</div>
        </div>
    </div>
    
    <!-- This is div 2, labeled as "Click to see our Advanced Features" -->
    <!-- The advanced features will be a drop-down that has the advanced features -->
    <div id="div2">
        <div class="accordion jumbotron text-center">Click to see our Advanced Features</div>
        <div class="panel">
            <p>This is the approach path selection</p>
            <p class="large-font">Press on the approach path you would like to use</p>
            <button class="approach-button selected" id="none" onclick="selectApproachPath('none')">None</button>
            <button class="approach-button" id="Shallow" onclick="selectApproachPath('Shallow')">Shallow</button>
            <button class="approach-button" id="Linear" onclick="selectApproachPath('Linear')">Linear</button>
            <button class="approach-button" id="Steep" onclick="selectApproachPath('Steep')">Steep</button>
            <button class="approach-button" id="Parabola" onclick="selectApproachPath('Parabola')">Parabola</button>
            <button class="approach-button" id="Fastest" onclick="selectApproachPath('Fastest')">Fastest</button>
            <button class="approach-button" id="Rollercoaster" onclick="selectApproachPath('Rollercoaster')">Rollercoaster</button>
            <div id="approachPathResult"></div>
            <!-- There will be buttons labeled as the approach paths. The user will be allowed to only select one button at a time -->
            
            <label for="restingHR">Resting Heart Rate:</label>
            <input type="number" id="restingHR" placeholder="Enter resting heart rate" value='70' class="no-arrows">
            <button id="startRestingHR" class="btn btn-primary" style="font-size: 20px; width: 300px; height: 55px;">Press to get Resting Heart Rate</button>
            <p class="large-font">Use the arrows below to change Resting HR or press the button</p>
            <div class="arrow arrow-up" id="restingHR-up"></div>
            <div class="arrow arrow-down" id="restingHR-down"></div>
            <p id="restingHRResult"></p><!-- This will be the resting heart rate value that will be set to 70 -->
            <!-- The user will be able to adjust the resting heart rate -->
        </div>
    </div>
    
    <!-- This is div 3 -->
    <!-- This is the upload box that only accepts mp3 files. You can either drag or drop files -->
    <div id="div3">
        <div class="upload-box" id="uploadBox">
            Drag and drop MP3 files here or click to upload
            <input type="file" id="fileInput" accept=".mp3" style="display: none;">
        </div>
    </div>

    <script>
        var selectedApproachPath = 'None';
        var lastPlayedSong = "";

        function selectApproachPath(path) {
            selectedApproachPath = path;
            document.querySelectorAll('.approach-button').forEach(button => {
                button.classList.remove('selected');
            });
            document.getElementById(path).classList.add('selected');

            // Show approach path message or it will show the message that there was an error
            $.ajax({
                url: "/get_approach_path_message",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    approachPath: selectedApproachPath
                }),
                success: function(data) {
                    $("#approachPathResult").html(`<p>${data.message}</p>`);
                },
                error: function(error) {
                    $("#approachPathResult").text("Error getting approach path message.");
                }
            });
        }

        // This is the start monitoring function for the start button
        // It takes the input of the target heart rate, resting heart rate, and approach path the user selected
        // Or it will return a message that the user needs to enter a target or resting heart rate
        function startMonitoring() {
            var targetHR = $("#targetHR").val();
            var restingHR = $("#restingHR").val();

            console.log("Start Monitoring: Target HR =", targetHR, "Resting HR =", restingHR, "Approach Path =", selectedApproachPath);

            if (!targetHR) {
                alert("Please enter a target heart rate.");
                return;
            }

            if (!restingHR) {
                alert("Please enter a resting heart rate.");
                return;
            }

            $.ajax({
                url: "/start",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    targetHR: targetHR,
                    restingHR: restingHR,
                    approachPath: selectedApproachPath
                }),
                success: function(data) {
                    if (data.error) {
                        $("#musicResult").text(data.error);
                    } else {
                        if (data.selected_music) {
                            let songPath = data.selected_music;
                            let songName = songPath.substring(songPath.lastIndexOf('/') + 1);
                            $("#audioPlayer").show();
                            $("#audio").attr("src", songPath);
                            $("#songName").text(`Now Playing: ${songName}`);
                            lastPlayedSong = songPath; // Store the current song
                            $("#optimalSongMessage").hide(); // Hide the optimal song message
                        } else {
                            $("#musicResult").text("No suitable music found.");
                        }
                    }
                },
                error: function(error) {
                    $("#musicResult").text("Error getting music recommendation.");
                }
            });
        }

        // This function handles the song skipping logic
        // It works similar to startMonitoring but allows the user to skip to the next song
        function skipSong() {
            var targetHR = $("#targetHR").val();
            var restingHR = $("#restingHR").val();

            if (!targetHR || !restingHR) {
                alert("Please enter both target and resting heart rates.");
                return;
            }

            $.ajax({
                url: "/start",  // this is the route for skipping songs
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify({
                    targetHR: targetHR,
                    restingHR: restingHR,
                    approachPath: selectedApproachPath
                }),
                success: function(data) {
                    if (data.error) {
                        $("#musicResult").text(data.error);
                    } else {
                        if (data.selected_music) {
                            let songPath = data.selected_music;
                            let songName = songPath.substring(songPath.lastIndexOf('/') + 1);
                            $("#audio").attr("src", songPath);
                            $("#songName").text(`Now Playing: ${songName}`);
                            $("#audio")[0].play();  // get and autoplay the new song
                            
                            // Check if the new song is the same as the last played song
                            if (lastPlayedSong === songPath) {
                                $("#optimalSongMessage").show(); // Show the optimal song message
                            } else {
                                $("#optimalSongMessage").hide(); // Hide the optimal song message
                            }

                            lastPlayedSong = songPath; // Update the last played song
                        } else {
                            $("#musicResult").text("No suitable music found.");
                        }
                    }
                },
                error: function(error) {
                    $("#musicResult").text("Error getting music recommendation.");
                }
            });
        }

        $(document).ready(function() {
            var acc = document.querySelectorAll(".accordion");

            acc.forEach(function(accordion) {
                accordion.addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }); // Style elements for the nav bar and the start button to have the block appearance and allow the user to click on 

            var uploadBox = document.getElementById('uploadBox');
            var fileInput = document.getElementById('fileInput');

            uploadBox.addEventListener('dragover', function(e) {
                e.preventDefault();
                uploadBox.classList.add('dragover');
            });

            uploadBox.addEventListener('dragleave', function(e) {
                uploadBox.classList.remove('dragover');
            });

            uploadBox.addEventListener('drop', function(e) {
                e.preventDefault();
                uploadBox.classList.remove('dragover');
                var files = e.dataTransfer.files;
                handleFiles(files);
            }); // This is the upload box that allows the user to either upload a file or drag and drop a file

            uploadBox.addEventListener('click', function(e) {
                fileInput.click();
            });

            fileInput.addEventListener('change', function(e) {
                var files = fileInput.files;
                handleFiles(files);
            });

            function handleFiles(files) {
                for (var i = 0; i < files.length; i++) {
                    if (files[i].type !== 'audio/mpeg') {
                        alert('Only MP3 files are allowed!');
                        return;
                    }
                    uploadFile(files[i]); // This ensures that only MP3 files are accepted
                }
            }

            function uploadFile(file) {
                var formData = new FormData();
                formData.append('file', file);

                $.ajax({
                    url: '/upload',
                    method: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        alert('File uploaded successfully!');
                    },
                    error: function(error) {
                        alert('Error uploading file!');
                    }
                });
            }

            $("#startRestingHR").click(function(){
                $.ajax({
                    url: "/start_resting_hr_monitor",
                    method: "GET",
                    success: function(data){
                        if (data.hr !== undefined) {
                            $("#restingHR").val(data.hr); // Update the input field with the live heart rate
                            $("#restingHRResult").text("Resting Heart Rate: " + data.hr);
                        } else {
                            $("#restingHRResult").text("Error getting resting heart rate.");
                        }
                    },
                    error: function(error){
                        $("#restingHRResult").text("Error getting resting heart rate.");
                    }
                });
            });

            $("#startCurrentHR").click(function(){
                $.ajax({
                    url: "/start_current_hr_monitor",
                    method: "GET",
                    success: function(data){
                        $("#currentHRResult").text("Current Heart Rate: " + data.hr);
                        $("#currentHR").val(data.hr);  // Auto fill in the currentHR input
                    },
                    error: function(error){
                        $("#currentHRResult").text("Error for current heart rate data.");
                    }
                });
            });

            $("#getMusic").click(function(){
                var targetHR = $("#targetHR").val();
                var currentHR = $("#currentHR").val();
                var restingHR = $("#restingHR").val();

                if (targetHR && currentHR && restingHR) {
                    $.ajax({
                        url: "/get_music",
                        method: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({
                            targetHR: targetHR,
                            heartRate: currentHR,
                            restingHR: restingHR
                        }),
                        success: function(data){
                            if(data.selected_music) {
                                $("#musicResult").text("Selected Music: " + data.selected_music);
                                $("#audioPlayer").show();
                                $("#audio").attr("src", data.selected_music);
                                let songName = data.selected_music.substring(data.selected_music.lastIndexOf('/') + 1);
                                $("#songName").text(`Now Playing: ${songName}`);
                            } else {
                                $("#musicResult").text("No suitable music found.");
                            }
                        },
                        error: function(error){
                            $("#musicResult").text("Error getting music recommendation.");
                        }
                    });
                } else {
                    $("#musicResult").text("Please enter all heart rate values.");
                }
            });
            
            function validateIntegerInput(inputElement, minValue, maxValue) {
                inputElement.addEventListener('input', () => {
                    let value = inputElement.value;
                    inputElement.value = value.replace(/[^0-9]/g, ''); // Remove any non-numeric characters and only allow the user to enter int values
                });

                inputElement.addEventListener('change', () => {
                    let value = parseInt(inputElement.value);
                    if (isNaN(value)) {
                        inputElement.value = minValue; // Reset to minValue if the input is not a number
                    } else if (value < minValue) {
                        inputElement.value = minValue;
                    } else if (value > maxValue) {
                        inputElement.value = maxValue;
                    }
                });
            }

            const targetHRInput = document.getElementById('targetHR');
            const restingHRInput = document.getElementById('restingHR');

            validateIntegerInput(targetHRInput, 40, 150);
            validateIntegerInput(restingHRInput, 50, 150);

            // this will autoplay next song when current song ends
            document.getElementById('audio').addEventListener('ended', skipSong);
        });

        var isPlaying = false;
        function playPause() {
            var audio = document.getElementById("audio");
            if (isPlaying) {
                audio.pause();
            } else {
                audio.play();
            }
            isPlaying = !isPlaying;
        } // This is the audio control that allows the user to pause and play the song

        // This function handles loading and playing songs
        function loadSong(index) {
            const audio = document.getElementById('audio');
            audio.src = recommendedSongs[index];
        }

        function playSong() {
            const audio = document.getElementById('audio');
            audio.play();
            isPlaying = true;
        }

        // This controls the arrows that allow the user to increase or decrease the value for target HR or resting HR
        const targetHRInput = document.getElementById('targetHR');
        const arrowUp = document.querySelector('.arrow-up');
        const arrowDown = document.querySelector('.arrow-down');
        const restingHRInput = document.getElementById('restingHR');
        const restingHRUp = document.querySelector('.arrow-up#restingHR-up');
        const restingHRDown = document.querySelector('.arrow-down#restingHR-down');

        const validateTargetHRInput = () => {
            let value = parseInt(targetHRInput.value);
            if (isNaN(value) || value < 40) {
                targetHRInput.value = 40;
            } else if (value > 150) {
                targetHRInput.value = 150;
            }
        };

        const validateRestingHRInput = () => {
            let value = parseInt(restingHRInput.value);
            if (isNaN(value) || value < 50) {
                restingHRInput.value = 50;
            } else if (value > 150) {
                restingHRInput.value = 150;
            }
        };

        const ensureIntInput = (event) => {
            event.target.value = event.target.value.replace(/[^\d]/g, '');
        };

        arrowUp.addEventListener('click', () => {
            targetHRInput.value = Math.min(parseInt(targetHRInput.value) + 10, 150);
            validateTargetHRInput();
        }); // The up arrow goes up in increments of 10 and can only reach a max of 150

        arrowDown.addEventListener('click', () => {
            targetHRInput.value = Math.max(parseInt(targetHRInput.value) - 10, 40);
            validateTargetHRInput();
        }); // The down arrow for target HR goes down by 10 and can only go to 40

        restingHRUp.addEventListener('click', () => {
            restingHRInput.value = Math.min(parseInt(restingHRInput.value) + 10, 150);
            validateRestingHRInput();
        }); // The resting HR up goes up by 10 and can only go to 150

        restingHRDown.addEventListener('click', () => {
            restingHRInput.value = Math.max(parseInt(restingHRInput.value) - 10, 50);
            validateRestingHRInput();
        }); // The resting HR down arrow goes down by 10 and can only go down to 50

        targetHRInput.addEventListener('input', ensureIntInput);
        targetHRInput.addEventListener('blur', validateTargetHRInput); // This sets the target heart rate max to 150 and min to 40

        restingHRInput.addEventListener('input', ensureIntInput);
        restingHRInput.addEventListener('blur', validateRestingHRInput); // This sets the resting heart rate max to 150 and min to 50
    </script>
    
</body>
</html>




























